
#Created by Constraints Editor (xc9572xl-vq44-10) - 2026/09/22
NET "CLK8" TNM_NET = CLK8;
TIMESPEC TS_CLK8 = PERIOD "CLK8" 62.5 ns HIGH 50%;


NET "RESET_I" LOC = "P39" ;

NET "CLK8"  LOC = "P44" | BUFG=CLK ; 
NET "CLK8_O"  LOC = "P43" ; 

NET "RESET_MB" LOC = "P29" ;
NET "HALT_MB" LOC = "P30" ;
NET "BR_MB" LOC = "P31" ;
NET "BGACK_MB" LOC = "P32" ;
NET "BG_MB" LOC = "P33" ;
NET "BG_I" LOC = "P34" ;
NET "BGACK_I" LOC = "P36" ;
NET "BR_I" LOC = "P37" ;
NET "HALT_I" LOC = "P38" ;


NET "AS" LOC = "P1" ;

NET "FC0" LOC = "P7" ;
NET "FC1" LOC = "P8" ;
NET "E" LOC = "P19" ;
NET "VPA_MB" LOC = "P22" ;
NET "VMA_MB" LOC = "P14" ;
NET "DTACK" LOC = "P12" ;
NET "VPA_EXT" LOC = "P3" ;

